// =============================================================================
// CONFIGURATION
// =============================================================================

// fonts

$font-family--primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary: "Roboto Slab", serif;

// line heights
$line-height--small: 1.2;
$line-height--medium: 1.5;

// colours
$neutral: rgb(120,120,120);

$accent: rgb(255,150,80);
$accent-dark: darken($accent, 20%);